/*This is a SCSS Template*/
/*This is a CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Our Sassy palette*/
.container {
  float: none;
  margin: 0 16px !important;
}

.container:before, .container:after {
  content: "";
  display: table;
}

.container:after {
  clear: both;
}

.container {
  zoom: 1;
}

/* - - - - - S t y l e s - - - - - */
.bg-primary {
  background-color: #222831;
}

.bg-secondary {
  background-color: #393e46;
}

.bg-tertiary {
  background-color: #d65a31;
}

.text-primary {
  color: #d65a31;
}

.text-secondary {
  color: #222831;
}

.col-1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  margin-left: 0.69444%;
  margin-right: 0.69444%;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 6.94444%;
}

.col-2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  margin-left: 0.69444%;
  margin-right: 0.69444%;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 15.27778%;
}

.col-3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  margin-left: 0.69444%;
  margin-right: 0.69444%;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 23.61111%;
}

.col-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  margin-left: 0.69444%;
  margin-right: 0.69444%;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 31.94444%;
}

.col-5 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  margin-left: 0.69444%;
  margin-right: 0.69444%;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 40.27778%;
}

.col-6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  margin-left: 0.69444%;
  margin-right: 0.69444%;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 48.61111%;
}

.col-7 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  margin-left: 0.69444%;
  margin-right: 0.69444%;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 56.94444%;
}

.col-8 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  margin-left: 0.69444%;
  margin-right: 0.69444%;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 65.27778%;
}

.col-9 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  margin-left: 0.69444%;
  margin-right: 0.69444%;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 73.61111%;
}

.col-10 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  margin-left: 0.69444%;
  margin-right: 0.69444%;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 81.94444%;
}

.col-11 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  margin-left: 0.69444%;
  margin-right: 0.69444%;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 90.27778%;
}

.col-12 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  margin-left: 0.69444%;
  margin-right: 0.69444%;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 98.61111%;
}

/*sm: small screen sizes <720px*/
@media only screen and (max-width: 720px) {
  .col-sm-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 6.94444%;
  }
  .col-sm-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 15.27778%;
  }
  .col-sm-3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 23.61111%;
  }
  .col-sm-4 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 31.94444%;
  }
  .col-sm-5 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 40.27778%;
  }
  .col-sm-6 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 48.61111%;
  }
  .col-sm-7 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 56.94444%;
  }
  .col-sm-8 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 65.27778%;
  }
  .col-sm-9 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 73.61111%;
  }
  .col-sm-10 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 81.94444%;
  }
  .col-sm-11 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 90.27778%;
  }
  .col-sm-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 98.61111%;
  }
}

@media only screen and (min-width: 721px) {
  .col-md-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 6.94444%;
  }
  .col-md-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 15.27778%;
  }
  .col-md-3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 23.61111%;
  }
  .col-md-4 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 31.94444%;
  }
  .col-md-5 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 40.27778%;
  }
  .col-md-6 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 48.61111%;
  }
  .col-md-7 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 56.94444%;
  }
  .col-md-8 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 65.27778%;
  }
  .col-md-9 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 73.61111%;
  }
  .col-md-10 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 81.94444%;
  }
  .col-md-11 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 90.27778%;
  }
  .col-md-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 98.61111%;
  }
}

@media only screen and (min-width: 1024px) {
  .col-lg-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 6.94444%;
  }
  .col-lg-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 15.27778%;
  }
  .col-lg-3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 23.61111%;
  }
  .col-lg-4 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 31.94444%;
  }
  .col-lg-5 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 40.27778%;
  }
  .col-lg-6 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 48.61111%;
  }
  .col-lg-7 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 56.94444%;
  }
  .col-lg-8 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 65.27778%;
  }
  .col-lg-9 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 73.61111%;
  }
  .col-lg-10 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 81.94444%;
  }
  .col-lg-11 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 90.27778%;
  }
  .col-lg-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    margin-left: 0.69444%;
    margin-right: 0.69444%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 98.61111%;
  }
}
/*# sourceMappingURL=main_style.css.map */