/*This is a CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Our Sassy palette*/
.bg-primary {
  background-color: #222831;
}

.bg-secondary {
  background-color: #393e46;
}

.bg-tertiary {
  background-color: #f7ae96;
}

.body-color {
  background-color: #1b2027;
}

.text-primary {
  color: #f7ae96;
  fill: #f7ae96;
}

.text-secondary {
  color: #222831;
  fill: #222831;
}

.title-color {
  color: #be4016;
  fill: #be4016;
}

.container {
  margin: 0 16px !important;
}

.container:before, .container:after {
  content: "";
  display: table;
}

.container:after {
  clear: both;
}

.container {
  zoom: 1;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.fixed-bottom {
  bottom: 0;
  position: fixed;
}

.col-0 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  margin: 16px 0.69444%;
  width: -1.38889%;
  display: none;
}

.col-1 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  margin: 16px 0.69444%;
  width: 6.94444%;
}

.col-2 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  margin: 16px 0.69444%;
  width: 15.27778%;
}

.col-3 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  margin: 16px 0.69444%;
  width: 23.61111%;
}

.col-4 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  margin: 16px 0.69444%;
  width: 31.94444%;
}

.col-5 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  margin: 16px 0.69444%;
  width: 40.27778%;
}

.col-6 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  margin: 16px 0.69444%;
  width: 48.61111%;
}

.col-7 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  margin: 16px 0.69444%;
  width: 56.94444%;
}

.col-8 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  margin: 16px 0.69444%;
  width: 65.27778%;
}

.col-9 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  margin: 16px 0.69444%;
  width: 73.61111%;
}

.col-10 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  margin: 16px 0.69444%;
  width: 81.94444%;
}

.col-11 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  margin: 16px 0.69444%;
  width: 90.27778%;
}

.col-12 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  margin: 16px 0.69444%;
  width: 98.61111%;
}

@media only screen and (max-width: 720px) {
  .col-sm-0 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: -1.38889%;
    display: none;
  }
  .col-sm-1 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 6.94444%;
  }
  .col-sm-2 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 15.27778%;
  }
  .col-sm-3 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 23.61111%;
  }
  .col-sm-4 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 31.94444%;
  }
  .col-sm-5 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 40.27778%;
  }
  .col-sm-6 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 48.61111%;
  }
  .col-sm-7 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 56.94444%;
  }
  .col-sm-8 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 65.27778%;
  }
  .col-sm-9 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 73.61111%;
  }
  .col-sm-10 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 81.94444%;
  }
  .col-sm-11 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 90.27778%;
  }
  .col-sm-12 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 98.61111%;
  }
}

@media only screen and (min-width: 721px) {
  .col-md-0 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: -1.38889%;
    display: none;
  }
  .col-md-1 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 6.94444%;
  }
  .col-md-2 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 15.27778%;
  }
  .col-md-3 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 23.61111%;
  }
  .col-md-4 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 31.94444%;
  }
  .col-md-5 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 40.27778%;
  }
  .col-md-6 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 48.61111%;
  }
  .col-md-7 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 56.94444%;
  }
  .col-md-8 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 65.27778%;
  }
  .col-md-9 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 73.61111%;
  }
  .col-md-10 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 81.94444%;
  }
  .col-md-11 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 90.27778%;
  }
  .col-md-12 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 98.61111%;
  }
}

@media only screen and (min-width: 1024px) {
  .col-lg-0 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: -1.38889%;
    display: none;
  }
  .col-lg-1 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 6.94444%;
  }
  .col-lg-2 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 15.27778%;
  }
  .col-lg-3 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 23.61111%;
  }
  .col-lg-4 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 31.94444%;
  }
  .col-lg-5 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 40.27778%;
  }
  .col-lg-6 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 48.61111%;
  }
  .col-lg-7 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 56.94444%;
  }
  .col-lg-8 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 65.27778%;
  }
  .col-lg-9 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 73.61111%;
  }
  .col-lg-10 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 81.94444%;
  }
  .col-lg-11 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 90.27778%;
  }
  .col-lg-12 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 16px 0.69444%;
    width: 98.61111%;
  }
}

.font-primary {
  font-family: Arial, Helvetica, sans-serif;
}

.font-special {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.5em;
  font-weight: bold;
}

.align-right {
  text-align: end;
}

.align-start {
  text-align: start;
}

.align-center {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */