/*Our Sassy palette*/

$primary-color: #222831;

$secondary-color: #393e46;

$tertiary-color: #f7ae96;

.bg-primary {background-color: $primary-color;}

.bg-secondary {background-color: $secondary-color;}

.bg-tertiary {background-color: $tertiary-color;}

.body-color {background-color: #1b2027;}

$r: 0;
@while $r < 255{
  $g: 0;
  @while $g < 255{
      $b: 0;
      @while $b < 255{
        .bg-#{$r}-#{$g}-#{$b}{background-color: rgb($r,$g,$b);}
        .text-#{$r}-#{$g}-#{$b}{
          color: rgb($r,$g,$b);
          fill: rgb($r,$g,$b);
        }
        $b: $b+10;
      }
    $g: $g+10;
  }
  $r: $r+10;
}

.hover-white:hover{
  color: white;
}

.hover-green:hover{
  color: rgb(30,170,80);
}

.hover-underline:hover{
  text-decoration: underline;
}

.text-primary {
  color: $tertiary-color;
  fill: $tertiary-color;
}

.text-secondary {
  color: $primary-color;
  fill: $primary-color;
}

.title-color {
  color: #be4016;
  fill: #be4016;
}

