/*Our Sassy palette*/

$primary-color: #222831;

$secondary-color: #393e46;

$tertiary-color: #f7ae96;

.bg-primary {background-color: $primary-color;}

.bg-secondary {background-color: $secondary-color;}

.bg-tertiary {background-color: $tertiary-color;}

.body-color {background-color: #1b2027;}

.text-primary {
  color: $tertiary-color;
  fill: $tertiary-color;
}

.text-secondary {
  color: $primary-color;
  fill: $primary-color;
}

.title-color {
  color: #be4016;
  fill: #be4016;
}