$col-width: 6.94444444%;

$gut-width: 1.38888888%;

@mixin clearfix {
  // For modern browsers
   &:before,
   &:after {
     content:"";
     display:table;
   }  &:after {
     clear:both;
   }  // For IE 6/7 (trigger hasLayout)
   & {
     zoom:1;
   }
 }

 @mixin border-box {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin grid-unit($cell) {
  @include border-box;
  float: left;
  margin: 16px $gut-width/2;
  width: ($col-width * $cell) + ($gut-width * ($cell - 1));
}

.container {
  @include clearfix;
  margin: 0 16px !important;
}

.sticky {
  position: sticky;
  top: 0;
}

.fixed-bottom{
  bottom: 0;
  position: fixed;
}

@for $i from 0 through 12{
  .col-#{$i}{
    @include grid-unit($i);
    @if $i == 0 {display: none;}
  }
}

@media only screen and (max-width:720px){
  @for $i from 0 through 12{
    .col-sm-#{$i}{
      @include grid-unit($i);
      @if $i == 0 {display: none;}
    }

  }
}

@media only screen and (min-width:721px){
  @for $i from 0 through 12{
    .col-md-#{$i}{
      @include grid-unit($i);
      @if $i == 0 {display: none;}
    }
  }
}

@media only screen and (min-width:1024px){
  @for $i from 0 through 12{
    .col-lg-#{$i}{
      @include grid-unit($i);
      @if $i == 0 {display: none;}
    }
  }
}
