.font-primary {font-family: Arial, Helvetica, sans-serif;}

.font-special {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.5em;
  font-weight: bold;
}

.align-right {text-align: end;}

.align-start {text-align: start;}

.align-center {text-align: center;}
