/*This is a SCSS Template*/
@import '_reset.scss';

$col-width: 6.94444444%;

$gut-width: 1.38888888%;

@mixin clearfix {
  // For modern browsers
   &:before,
   &:after {
     content:"";
     display:table;
   }  &:after {
     clear:both;
   }  // For IE 6/7 (trigger hasLayout)
   & {
     zoom:1;
   }
 }

@mixin grid-unit($cell) {
  box-sizing: border-box;
  float: left;
  margin-left: $gut-width/2;
  margin-right: $gut-width/2;
  width: ($col-width * $cell) + ($gut-width * ($cell - 1));
}

.container {
  @include clearfix;
  float: none;
  margin: 0 auto;
}

.main-content {
};

.sidebar {
}

/*sm: small screen sizes <720px*/

@media only screen and (max-width:720px){
  @for $i from 1 through 12{
    .col-sm-#{$i}{
      @include grid-unit($i);
    }
  }
}

@media only screen and (min-width:721px){
  @for $i from 1 through 12{
    .col-md-#{$i}{
      @include grid-unit($i);
    }
  }
}

@media only screen and (min-width:1024px){
  @for $i from 1 through 12{
    .col-lg-#{$i}{
      @include grid-unit($i);
    }
  }
}
